#domain name
DOMAIN_NAME=your_domain_name

#mariadb
DATA_BASE=database_name
DB_USER=database_username
DB_PASSWORD=database_password

#wordpress
WP_ADMIN_USER=admin_user_name
WP_ADMIN_PASSWORD=adming_password
WP_ADMIN_EMAIL=admin_email

WP_REGULAR_USER=regular_user_name
WP_REGULAR_PASSWORD=regular_user_password
WP_REGULAR_EMAIL=regular_user_email
